<h1>Flats</h1>
<div class="d-flex justify-content-center">
<% @flats.each do |flat| %>
    <div class="card mx-3" style="width: 18rem;">
    <img src="<%= flat['imageUrl']%>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%= flat['name'] %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fa-solid fa-location-dot"></i><%= flat['lat'] %>, <%= flat['lng'] %></li>
        <li class="list-group-item"><i class="fa-solid fa-euro-sign"></i> <%= flat['price'] %></li>
    </ul>
    <div class="card-body">
        <%= link_to "See More", show_path(flat['id']), class: "btn btn-danger" %>
    </div>
    </div>
<% end %>
</div>